name: "Create RC branch"

on:
  workflow_call:
    inputs:
      rc_branch_called:
        description: 'RC version to branch (without the "RB" prefix)'
        required: true
        type: string
      crk_repository_called:
        description: 'Application repository'
        required: true
        type: string
      ref_branch_called:
        description: 'Base reference to branch from'
        required: false
        default: "development"
        type: string
    secrets:
      gh_auth_token_called:
        required: true
jobs:
  create-rc-branch:
    env:
      CRK_REPOSITORY: ${{ inputs.crk_repository_called }}
      RC_BRANCH: "RB-${{ inputs.rc_branch_called }}"
      REF_BRANCH: ${{ inputs.ref_branch_called }}
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./branch-checkout-dir
    continue-on-error: false
    steps:
      - name: "Checkout ${{ env.CRK_REPOSITORY }} repository from ${{ env.REF_BRANCH }} branch"
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          repository: "fwHub/${{ env.CRK_REPOSITORY }}"
          ref: ${{ env.REF_BRANCH }}
          path: branch-checkout-dir
          token: ${{ secrets.gh_auth_token_called }}
      - name: "Verify if ${{ env.RC_BRANCH }} RC branch already exists for ${{ env.CRK_REPOSITORY }} repository"
        run: |
          error () { echo "$1"; exit $2; }
          if git ls-remote | awk '{print $2}' | grep "refs/heads/${{ env.RC_BRANCH }}$"; then
            error "::error title:RCAlredyExists::RC branch '${{ env.RC_BRANCH }}' already exists in ${{ env.CRK_REPOSITORY }} repository." 1
          fi;
        working-directory: ./branch-checkout-dir
      - name: "Create ${{ env.RC_BRANCH }} RC branch for ${{ env.CRK_REPOSITORY }}"
        run: git checkout -b ${{ env.RC_BRANCH }} && git push origin ${{ env.RC_BRANCH }}
        id: create-rc-branch
        working-directory: ./branch-checkout-dir
