name: "RC branched slack notify"

on:
  workflow_call:
    inputs:
      rc_branch_called:
        description: 'RC version to branch (without the "RB" prefix)'
        required: true
        type: string
      crk_repository_called:
        description: 'Application repository'
        required: true
        type: string
      slack_channel_called:
        description: 'Slack channel to notify'
        required: false
        default: "cirkus-release"
        type: string
    secrets:
      slack_webhook_url_called:
        required: true
jobs:
  notify-on-slack:
    runs-on: ubuntu-24.04
    env:
      CRK_REPOSITORY: ${{ inputs.crk_repository_called }}
      RC_BRANCH: "rb-${{ inputs.rc_branch_called }}"
      SLACK_CHANNEL: ${{ inputs.slack_channel_called }}
    steps:
      - name: Send slack notification
        uses: slackapi/slack-github-action@007b2c3c751a190b6f0f040e47ed024deaa72844
        with:
          payload: |
            {
              "text": "*${{ env.RC_BRANCH }} branch created*",
              "icon_emoji": ":cirkus:",
              "channel": "#${{ env.SLACK_CHANNEL }}",
              "blocks": [
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*RC branch:*\n${{ env.RC_BRANCH }}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Platform:*\n${{ env.CRK_REPOSITORY }}"
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook_url_called }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
